.card {
  position: relative;
}

.image {
  display: flex;
  justify-content: center;
}

.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.price > svg {
  display: block;
}

.name {
  text-align: center;
}

.item {
  cursor: pointer;
}

.link {
  color: inherit;
  text-decoration: none;
}